################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SOLUCION 2 - WEB APII/Dominio/.vs
/SOLUCION 1 - MVC/WebApp/appsettings.json
/SOLUCION 2 - WEB APII/DataAccess/bin
/SOLUCION 2 - WEB APII/DataAccess/obj
/SOLUCION 2 - WEB APII/Servicios/bin
/SOLUCION 2 - WEB APII/Servicios/obj
/SOLUCION 2 - WEB APII/WebApi/bin
/SOLUCION 2 - WEB APII/WebApi/obj
/.vs/slnx.sqlite
