################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SOLUCION 2 - WEB APII/Dominio/.vs/Dominio/FileContentIndex/65be5731-b987-4c57-a851-23d5e0b88a70.vsidx
/SOLUCION 2 - WEB APII/Dominio/.vs/Dominio/FileContentIndex/dbcf40ef-3be6-4b03-a3ba-afe89d4b74d7.vsidx
/SOLUCION 2 - WEB APII/Dominio/.vs/Dominio/FileContentIndex/f71c5b52-040f-48fe-b7a1-df2278fa1f79.vsidx
/.vs/slnx.sqlite
